/* -----------------------------
 Footer Area Start
------------------------------*/

.footer{
  overflow: hidden;
  position: relative;
  padding: 94px 0px 0px;

  .footer-info-area{
    .footer-logo {
      margin-bottom: 23px;
      display: block;
      .logo-link{
        font-size: 40px;
        line-height:50px;
        font-weight: 700;
        text-transform: uppercase;
      }
      img{
        max-width: 180px;
      }
    }
    .text{
      margin-bottom: 24px;
    }
  }
  .fotter-social-links{
    ul{
      padding-left: 0px;
      margin-left: 0px;
      li{
        display: inline-block;
        a{
          font-size: 14px;
          width: 35px;
          height: 35px;
          display: inline-block;
          border-radius: 50%;
          text-align: center;
          line-height: 36px;
          margin: 0px 3px;
          color: $white;
          @include box-shadow(0px, 5px, 15px, rgba(0, 0, 0, 0.18), $inset: false);
          transition: $transition;     
          &.facebook{
            background: $facebook;
            border-color: $facebook;
          }
          &.twitter{
            background: $twitter;
            border-color: $twitter;
          }
          &.linkedin{
            background: $linkedin;
            border-color: $linkedin;
          }
          &.dribbble{
            background: $dribbble;
            border-color: $dribbble;
          }
          &.google-plus{
            background: $google-plus;
            border-color: $google-plus;
          }
  
        }
      }
    }
  }
  .copy-bg{
    padding: 20px 0px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 84px;
    p{
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 0px;
    }
    a{
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 0px;
      @include transition();
      &:hover{
        color: $base-color;
      }
    }
  }
}

.footer-widget{
  .title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: $dark-color;
  }
  ul{
    padding-left: 0px;
    margin-bottom: 0px;
    li{
      list-style: none;
      a{
        color: $descr-color;
        }
        i{
          font-size: 14px;
          margin-right: 4px;
        }
      }
  }
}

.support-link-widget,
.use-full-link-widget
{
  .title{
    margin-bottom: 11px;
  }
  .link-list{
    li{
      border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
      padding: 9px 0;
      display: block;
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
}
.twitter-widget{
  .title{
    margin-bottom: 19px;
  }
  .content{
    i{
      color: $twitter;
      font-size: 16px;
      margin-right: 5px;
      display: inline-block;
    }
    p{
      margin-bottom: 0px;
      display: inline-block;
    }
    a{
      display: block;
      color: $facebook;
      font-style: italic;
      margin-top: 8px;
    }
  }
  .owl-controls{
    display: block;
    text-align: center;
    .owl-nav {
      position: absolute;
      z-index: 9999;
      bottom: -57px;
      left: 0;
      display: inline-block;
      div{
        font-size: 0px;
        position: relative;
        width: 35px;
        height: 35px;
        display: inline-block;
        &.owl-next{
          margin-left: 15px;
          &::after{
            position: absolute;
            content: "\f054"; 
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 14px;
            top: 0;
            left: 0;
            width: 35px;
            height: 35px;
            line-height: 35px;
            color: #fff;
            border-radius: 50%;
            background: #fff;
            @include main-gradint1;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          }
        }
        &.owl-prev{
          margin-left: 0px;
          &::after{
            position: absolute;
            content: "\f053"; 
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 14px;
            top: 0;
            left: 0;
            width: 35px;
            height: 35px;
            line-height: 35px;
            color: #fff;
            border-radius: 50%;
            background: #fff;
            @include main-gradint1;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          }
        }
        
      }
    }
    }
}

/*-----------------------------
** Footer Area End
------------------------------*/