/*---------------------------
** Main Menu  Area Start
---------------------------*/

.navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgba(#000, .10);
  &.stiky-nav{
    background: $white;
    border-bottom: 0px;
    @include box-shadow(0px, 5px, 20px, rgba($dark-color, .12), $inset: false);
   
  }
.navbar{
  padding: 0px 0px 0px;
  .navbar-brand{
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    padding: 0px;
    margin-top: -2px;
    text-transform: uppercase;
    color: $dark-color;
    img{
      max-width: 170px;
    }
  }
   #mainmenu{
    ul{
      .nav-item{
        .nav-link{
          color: $dark-color;
          position: relative;
          padding: 25px 10px 25px;
          &::before{
            position: absolute;
            content: " ";
            width: 3px;
            height: 3px;
            left: 50%;
            border-radius: 50px;
            bottom: 0;
            opacity: 0;
            @include transform(translateX(-50%));
            @include main-gradint1();
            @include transition(.5s);
          }
          
          &:hover, &.active{
            &::before{
              position: absolute;
              content: " ";
              width: 70%;
              height: 3px;
              left: 50%;
              @include transform(translate(-50%));
              bottom: 0px;
              opacity: 1;
              @include main-gradint1();
            }
          }
        }
        
        &.dropdown:hover{
          .dropdown-menu{
            display: block;
            padding: 0px;
            margin-top: 0px;
            border: 0px;
            border-radius: 0px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
            .dropdown-item{
              background: #fff;
              padding: 10px 20px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.185);
              transition: $transition;
              &:hover{
                background: #ddd;
              }
              &:last-child{
                border-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}
}


/*---------------------------
** Main Menu Area End
---------------------------*/