/*---------------------------
** Video Area Start
---------------------------*/
.video{
  padding-top: 110px;
  position: relative;
  .bgshape{
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 500px;
    z-index: -9;
  }
  .bgshape1{
    position: absolute;
    top: 0;
    left: 0;

  }
  .bgshape2{
    position: absolute;
    bottom: 0;
    left: 0;

  }
  .shape1{
    position: absolute;
    top: 200px;
    right: 20px;
    max-width: 130px;
    animation: shapeani1 5s linear infinite;
  }
  .shape2{
    position: absolute;
    top: 130px;
    right: 150px;
    max-width: 70px;
    animation: shapeani1 4s linear infinite;
  }
  .section-title{
    .title{
      margin-bottom: 24px;
    }
  }
  .video-wrapper{
    position: relative;
    .video-box{
      position: relative;
      @include main-gradint1;
      padding: 250px 0px 250px;
      z-index: 99;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      &::after{
        position: absolute;
        content: " ";
        width: 100%;
        height: 100%;
        background: url(../images/video.png) no-repeat center;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -1;
      }
      .overly{
        @include gradint-overlay2(.4);
      }
      .play-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
  }
}
