/*
    Css Table of Content
    --------------------------
    ** Navbar
    --------------------------
    ** Header
    --------------------------
    ** About me Area
    --------------------------
    ** What i do Area

*/
/*-----------------
    @Typography
-----------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
/*---------------------------
** Global Scss
---------------------------*/
.remove-col-padding {
  padding: 0; }

.remove-col-padding-right {
  padding-right: 0; }

.remove-col-padding-left {
  padding-left: 0; }

.padding-left-0 {
  padding-left: 0; }

.padding-right-0 {
  padding-left: 0; }

.padding-top-10 {
  padding-top: 10px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-top-60 {
  padding-top: 60px; }

.padding-top-70 {
  padding-top: 70px; }

.padding-top-80 {
  padding-top: 80px; }

.padding-top-90 {
  padding-top: 90px; }

.padding-top-100 {
  padding-top: 100px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-top-60 {
  margin-top: 60px; }

.margin-top-70 {
  margin-top: 70px; }

.margin-top-80 {
  margin-top: 80px; }

.margin-top-90 {
  margin-top: 90px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-bottom-0 {
  margin-bottom: 0px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-bottom-60 {
  margin-bottom: 60px; }

.margin-bottom-70 {
  margin-bottom: 70px; }

.margin-bottom-80 {
  margin-bottom: 80px; }

.margin-bottom-90 {
  margin-bottom: 90px; }

.margin-top-100 {
  margin-bottom: 100px; }

.margin-top-120 {
  margin-top: 120px; }

.padding-left-0 {
  padding-left: 0px !important; }

.section-subtitle {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #75b2f0;
  font-weight: 700; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .4rem;
  padding-left: 0.4rem; }

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  -webkit-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
  -moz-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
  background-image: linear-gradient(55deg, #ec77ab, #7873f5);
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  font-size: 20px; }

.boxed-btn {
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  width: 202px;
  background-color: #75b2f0;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  .boxed-btn:hover {
    color: #fff;
    background-color: #4e4e4e; }
  .boxed-btn.btn-rounded {
    border-radius: 30px; }
  .boxed-btn.blank {
    background-color: transparent;
    border: 2px solid #75b2f0;
    color: #75b2f0; }
    .boxed-btn.blank:hover {
      background-color: #75b2f0;
      color: #fff; }
  .boxed-btn.black {
    border: none;
    color: #fff;
    background-color: #4e4e4e; }
    .boxed-btn.black:hover {
      background-color: #75b2f0;
      color: #fff; }

.bg-gray {
  background-color: #fbfbfb; }

.section-title {
  text-align: center;
  margin-bottom: 57px; }
  .section-title .subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #75b2f0;
    line-height: 26px;
    display: block; }
  .section-title .title {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 18px;
    font-weight: 700; }
  .section-title p {
    font-size: 16px;
    color: #818181;
    max-width: 720px;
    margin: 0 auto; }

.c-white {
  color: #fff; }

.c-red {
  color: #75b2f0; }

.bg-red {
  background-color: #75b2f0; }

.c-green {
  color: #00cf92; }

.submit-btn {
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #75b2f0;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer; }
  .submit-btn:hover {
    background-color: #4e4e4e; }
  .submit-btn.btn-rounded {
    border-radius: 30px; }
  .submit-btn.btn-center {
    display: block;
    margin: 0 auto;
    margin-top: 25px; }
  .submit-btn:focus {
    outline: none; }

.section-title-inner {
  text-align: center;
  margin-bottom: 45px; }
  .section-title-inner .subtitle {
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #75b2f0;
    margin-bottom: 20px;
    display: block; }
  .section-title-inner .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px; }

.form-element.margin-bottom-30 {
  margin-bottom: 27px; }

.form-element label {
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px; }
  .form-element label span {
    color: #BE1F27; }

.form-element select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.has-icon {
  position: relative;
  display: block; }
  .has-icon.textarea .the-icon {
    top: 25px; }
  .has-icon .input-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .has-icon .the-icon {
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    color: #7c7c90; }

@media only screen and (max-width: 767px) {
  .row.reorder-xs {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl; }
  .row.reorder-xs > [class*="col-"] {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr; } }

@media only screen and (max-width: 991px) {
  .row.reorder-sm {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl; }
  .row.reorder-sm > [class*="col-"] {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr; } }

.input-field {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  border-radius: 5px;
  color: #7c7c90; }
  .input-field::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #7c7c90; }
  .input-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7c7c90; }
  .input-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7c7c90; }
  .input-field:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #7c7c90; }
  .input-field.borderd {
    border: 2px solid rgba(0, 0, 0, 0.1); }
    .input-field.borderd:focus {
      border: 2px solid rgba(0, 0, 0, 0.1); }
  .input-field.textarea {
    min-height: 120px;
    padding: 20px 30px;
    resize: none; }
  .input-field.error {
    border: 1px solid #75b2f0; }
    .input-field.error::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #75b2f0; }
    .input-field.error:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #75b2f0; }
    .input-field.error::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #75b2f0; }
    .input-field.error:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #75b2f0; }
    .input-field.error:focus {
      border-color: #75b2f0; }

.blog-details-content .single-blog-post .details-container .post-body .post-bottom-content .bottom-content .right-content .title {
  display: none; }

.email-success {
  display: block;
  width: 100%; }

.checkbox-element {
  display: inline-block; }

.checkbox-wrapper {
  display: inline-block; }

.checkbox-inner {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  color: #585869;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox-inner input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-inner .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1); }
  .checkbox-inner input:checked ~ .checkmark {
    background-color: transparent; }
  .checkbox-inner .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .checkbox-inner input:checked ~ .checkmark:after {
    display: block; }
  .checkbox-inner .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #75b2f0;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.table-responsive {
  display: table; }

/*---------------------
    Breadcumb Area
----------------------*/
.breadcrumb-area {
  padding: 125px 0 128px 0;
  background-color: #fefcfc; }
  .breadcrumb-area .page-title {
    color: #3b3b3b;
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px; }
  .breadcrumb-area .page-navigation {
    font-size: 18px;
    color: #75b2f0;
    display: block;
    margin-bottom: 8px; }
    .breadcrumb-area .page-navigation a {
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
    .breadcrumb-area .page-navigation a:hover {
      color: #75b2f0; }

/*-------------------------
    Preloader Css
---------------------------*/
.preloader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: #fff; }
  .preloader-wrapper .preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*====================
** Normalize
====================*/
html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #818181;
  overflow-x: hidden; }

h1 {
  font-size: 72px;
  line-height: 1.0833333333333333; }

h2 {
  font-size: 52px;
  line-height: 1.4444444444444444; }

h3 {
  font-size: 32px;
  line-height: 1.0833333333333333; }

h4 {
  font-size: 22px;
  line-height: 1.2380952380952381; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  font-weight: 700;
  font-family: "Poppins", sans-serif; }

p {
  font-size: 16px;
  color: #3b3b3b;
  line-height: 1.625;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

a {
  color: #3b3b3b;
  text-decoration: none; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none; }

a i {
  padding: 0 2px; }

img {
  max-width: 100%; }

/*input and button type focus outline disable*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd; }

/**
 * 5.0 - Alignments
 */
.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/*------------------------------
    Navbar Area
------------------------------*/
.dropdown:hover > .dropdown-menu {
  display: block; }

.navbar-area {
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #75b2f0;
  padding: 0; }
  .navbar-area.nav-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    background-color: #333; }
  .navbar-area .navbar-collapse {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in; }
    .navbar-area .navbar-collapse .navbar-nav .nav-item {
      display: inline-block;
      font-size: 14px;
      line-height: 63px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 5px 10px;
      position: relative; }
      .navbar-area .navbar-collapse .navbar-nav .nav-item:first-child {
        padding-left: 0; }
      .navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
        padding: 0;
        border-radius: 0;
        margin: 0;
        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in; }
        .navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
          font-size: 14px;
          font-weight: 700;
          color: #8e96a0;
          padding: 0px 20px;
          line-height: 30px;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }
          .navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item:hover {
            background-color: #75b2f0;
            color: #fff; }
      .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show {
          padding: 0;
          border-radius: 0; }
          .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
            font-size: 14px;
            font-weight: 700;
            color: #8e96a0;
            padding: 0px 20px;
            line-height: 50px;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in; }
            .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item:hover {
              background-color: #75b2f0;
              color: #fff; }
      .navbar-area .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
        color: #4e4e4e; }
      .navbar-area .navbar-collapse .navbar-nav .nav-item.active .nav-link {
        color: #75b2f0; }
      .navbar-area .navbar-collapse .navbar-nav .nav-item:last-child {
        padding-right: 0; }
      .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #fff;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0 {
          padding-left: 0; }

/*------------------------------
    Header Area
------------------------------*/
.header-area {
  padding: 180px 0 192px 0;
  background: url(../img/bgimg1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
 }
  .header-area.gradinet-bg {
    position: relative;
    z-index: 0; }
    .header-area.gradinet-bg:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
      -moz-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
      background-image: linear-gradient(55deg, #ec77ab, #7873f5);
      content: '';
      opacity: .9;
     }
     .header-area .header-inner {
       position: relative;
       z-index: 99999;
     }
  .header-area .header-inner .subtitle {
    font-size: 35px;
    font-weight: 600;
    color: #f6f6f6;
    line-height: 45px;
    margin-bottom: 25px;
    display: block; }
  .header-area .header-inner .logo {
    margin-bottom: 30px;
    display: block; }
    .header-area .header-inner .logo h1{
      color: #fff;
    }
  .header-area .header-inner .title {
    font-size: 82px;
    font-weight: 900;
    line-height: 86px;
    color: #75b2f0; }
  .header-area .header-inner #typed {
    font-size: 40px;
    font-weight: 800;
    color: #f6f6f6; }
    .header-area .header-inner #typed:after {
      content: '|';
      display: inline;
      -webkit-animation-duration: 0.7s;
      -moz-animation-duration: 0.7s;
      -o-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: blink;
      -moz-animation-name: blink;
      -o-animation-name: blink;
      animation-name: blink;
      -webkit-animation-direction: "";
      -moz-animation-direction: "";
      -o-animation-direction: "";
      animation-direction: "";
      margin-left: 5px; }
  .header-area .header-inner .btn-wrapper {
    margin-top: 37px; }
    .header-area .header-inner .btn-wrapper .boxed-btn {
      border: none;
      width: 180px;
      height: 60px;
      line-height: 60px;
      margin: 0 10px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      background-color: #4e4e4e; }
      .header-area .header-inner .btn-wrapper .boxed-btn:before {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 10%;
        height: 100%;
        background-color: #4e4e4e;
        content: '';
        border-radius: 30px;
        z-index: -1;
        -ms-transform: translateX(10%);
        /* IE 9 */
        -webkit-transform: translateX(10%);
        /* Chrome, Safari, Opera */
        transform: translateX(10%);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out; }
      .header-area .header-inner .btn-wrapper .boxed-btn:hover:before {
        visibility: visible;
        opacity: 1;
        width: 100%;
        -ms-transform: translateX(0%);
        /* IE 9 */
        -webkit-transform: translateX(0%);
        /* Chrome, Safari, Opera */
        transform: translateX(0%); }
      .header-area .header-inner .btn-wrapper .boxed-btn:first-child {
        margin-left: 0; }
      .header-area .header-inner .btn-wrapper .boxed-btn.cv-download {
        border-color: #fff;
        background-color: #fff;
        position: relative;
        z-index: 1;
        width: 222px;
        color: #3b3b3b; }
        .header-area .header-inner .btn-wrapper .boxed-btn.cv-download:before {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 10%;
          height: 100%;
          background-color: #75b2f0;
          content: '';
          border-radius: 30px;
          z-index: -1;
          -ms-transform: translateX(-10%);
          /* IE 9 */
          -webkit-transform: translateX(-10%);
          /* Chrome, Safari, Opera */
          transform: translateX(-10%);
          visibility: hidden;
          opacity: 0;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out; }
        .header-area .header-inner .btn-wrapper .boxed-btn.cv-download:hover {
          color: #fff; }
          .header-area .header-inner .btn-wrapper .boxed-btn.cv-download:hover:before {
            visibility: visible;
            opacity: 1;
            width: 100%;
            -ms-transform: translateX(0%);
            /* IE 9 */
            -webkit-transform: translateX(0%);
            /* Chrome, Safari, Opera */
            transform: translateX(0%); }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*------------------------
    Feature Section
-----------------------*/
.features-area {
  padding: 110px 0 90px 0; }

.single-features-box {
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 20px 30px 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  .single-features-box:hover {
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); }
    .single-features-box:hover .content .title {
      color: #75b2f0; }
  .single-features-box .icon {
    margin-bottom: 20px; }
  .single-features-box .content .title {
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.single-varant-box {
  margin-bottom: 30px; }
  .single-varant-box.small .img-wrapper .hover .boxed-btn {
    width: 130px;
    font-size: 12px;
    height: 50px;
    line-height: 50px; }
  .single-varant-box .img-wrapper {
    position: relative;
    box-shadow: 0px 7px 40px 0 rgba(0, 0, 0, 0.15); }
    .single-varant-box .img-wrapper:hover .hover {
      visibility: visible;
      opacity: 1; }
    .single-varant-box .img-wrapper .hover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .single-varant-box .img-wrapper .hover .boxed-btn {
        border-radius: 30px;
        height: 50px;
        width: 160px;
        line-height: 50px;
        -webkit-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
        -moz-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
        background-image: linear-gradient(55deg, #ec77ab, #7873f5);
      }
          .single-varant-box .img-wrapper .img{
            position: relative;
          }
          .single-varant-box .img-wrapper .info{
            border-top: 2px solid #dddd;
            text-align: center;
            padding: 22px;
          }
          .img-wrapper .info .color-list{
            margin-top: 22px;
          }
.img-wrapper .info .color-list a,
.img-wrapper .info .color-list p
{
  width: 40px;
  height: 40px;
  margin: 0px 2px;
  display: inline-block;
  border-radius: 50%;
}
.img-wrapper .info .color-list a.color1,
.img-wrapper .info .color-list p.color1
{
  -webkit-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
  -moz-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
  background-image: linear-gradient(55deg, #ec77ab, #7873f5);
}
.img-wrapper .info .color-list a.color2,
.img-wrapper .info .color-list p.color2
{
  background-image: -moz-linear-gradient(55deg, #75b2f0, #75f094);
  background-image: -webkit-linear-gradient(55deg,#75b2f0, #75f094);
  background-image: -ms-linear-gradient(55deg, #75b2f0, #75f094);
  background-image: linear-gradient(55deg, #75b2f0, #75f094);
}
.img-wrapper .info .color-list a.color3,
.img-wrapper .info .color-list p.color3
{
  background-image: -webkit-linear-gradient(to right, #b31217, #e52d27);  
  background-image: -moz-linear-gradient(to right, #b31217, #e52d27);  
  background-image: linear-gradient(to right, #b31217, #e52d27);
}
.img-wrapper .info .color-list a.color4,
.img-wrapper .info .color-list p.color4
{
  background-image: -webkit-linear-gradient(to right, #00c6fb , #005bea);
  background-image: -moz-linear-gradient(to right, #00c6fb , #005bea);
  background-image: linear-gradient(to right, #00c6fb , #005bea);
}
.img-wrapper .info .color-list a.color5,
.img-wrapper .info .color-list p.color5
{
  background-image: -webkit-linear-gradient(to right, #ff4e50, #f9d423);
  background-image: -moz-linear-gradient(to right, #ff4e50, #f9d423);
  background-image: linear-gradient(to right, #ff4e50, #f9d423);
}
.img-wrapper .info .color-list li{
  display: inline-block;
}


.counter-area .counter{
  font-size: 50px;
  line-height: 50px;
  display: inline-block;
  font-weight: 700;
  -webkit-background-image: -webkit-linear-gradient(35deg, #ec77ab, #7873f5);
    -moz-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
    background-image: -o-linear-gradient(35deg, #ec77ab, #7873f5);
    background-image: linear-gradient(55deg, #ec77ab, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.counter-area .counter-wrapper{
}
.counter-area .math{
font-size: 40px;
color: #000;
font-weight: 700;
margin-left: 6px;
display: inline-block;
-webkit-background-image: -webkit-linear-gradient(35deg, #ec77ab, #7873f5);
-moz-background-image: linear-gradient(55deg, #ec77ab, #7873f5);
background-image: -o-linear-gradient(35deg, #ec77ab, #7873f5);
background-image: linear-gradient(55deg, #ec77ab, #7873f5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.counter-area .fun-box{
  text-align: center;

}
.counter-area .categori{
text-transform: capitalize;
font-weight: 600;
font-size: 24px;
}
/*-------------------
    Footer Area
--------------------*/
.footer-area {
  background-color: #313335;
  padding: 20px 0; }
  .footer-area .copyright-area-inner {
    color: #fff;
    font-size: 16px;
    display: block; }
    .footer-area .copyright-area-inner .left-content-area {
      display: inline-block;
      padding-top: 8px; }
